# Основные зависимости для faster-whisper (STT)
--index-url https://download.pytorch.org/whl/cu128
torch
torchvision
torchaudio

faster-whisper
whisperx
numpy>=1.26.0
soundfile>=0.12.1
librosa>=0.10.0
ruaccent>=0.1.7
huggingface-hub>=0.25.0
tqdm
psutil
huggingface_hub
transformers
httpx
#git clone https://github.com/OpenMOSS/MOSS-TTS.git
#pip install -r requirements.txt
# pip uninstall -y torch torchvision torchaudio
# pip install --pre torch torchvision torchaudio --index-url https://download.pytorch.org/whl/nightly/cu128